<!--The page data/elements-->
<div>
  <div>
    <script src="https://www.gstatic.com/firebasejs/5.10.0/firebase.js"></script>
    <p>&nbsp;</p>
  </div>
  <div align="center">
    <h2 class="textClass" style="text-align: center">Sensor outputs from vehicle</h2>
    <div class="textClass">
      <ngx-gauge [value]="gaugeValueSpeedInKPH" 
              [type]="spdKph.gaugeType"
              [label]="spdKph.gaugeLabel"  
              [append]="spdKph.gaugeAppendText"
              [animate]="spdKph.gaugeAnimate"
              [cap]="spdKph.gaugeCap"
              [thick]="spdKph.gaugeThickness"
              [prepend]="spdKph.gaugePrepend"
              [duration]="spdKph.gaugeDuration"
              [size]="spdKph.gaugeSize"
              [max] = "spdKph.gaugeMax"
              [backgroundColor]="spdKph.gaugeBackColor"
              [foregroundColor]="spdKph.gaugeColor">
      </ngx-gauge>
      <ngx-gauge [value]="gaugeValueLoad" 
              [type]="load.gaugeType"
              [label]="load.gaugeLabel"  
              [append]="load.gaugeAppendText"
              [animate]="load.gaugeAnimate"
              [cap]="load.gaugeCap"
              [thick]="load.gaugeThickness"
              [prepend]="load.gaugePrepend"
              [duration]="load.gaugeDuration"
              [size]="load.gaugeSize"
              [max] = "load.gaugeMax"
              [backgroundColor]="load.gaugeBackColor"
              [foregroundColor]="load.gaugeColor">
      </ngx-gauge>
      <ngx-gauge [value]="gaugeValueThrottle" 
              [type]="throttle.gaugeType"
              [label]="throttle.gaugeLabel"  
              [append]="throttle.gaugeAppendText"
              [animate]="throttle.gaugeAnimate"
              [cap]="throttle.gaugeCap"
              [thick]="throttle.gaugeThickness"
              [prepend]="throttle.gaugePrepend"
              [duration]="throttle.gaugeDuration"
              [size]="throttle.gaugeSize"
              [max] = "throttle.gaugeMax"
              [backgroundColor]="throttle.gaugeBackColor"
              [foregroundColor]="throttle.gaugeColor">
      </ngx-gauge>
      <ngx-gauge [value]="gaugeValueFuelPressure" 
              [type]="fpressure.gaugeType"
              [label]="fpressure.gaugeLabel"  
              [append]="fpressure.gaugeAppendText"
              [animate]="fpressure.gaugeAnimate"
              [cap]="fpressure.gaugeCap"
              [thick]="fpressure.gaugeThickness"
              [prepend]="fpressure.gaugePrepend"
              [duration]="fpressure.gaugeDuration"
              [size]="fpressure.gaugeSize"
              [max] = "fpressure.gaugeMax"
              [backgroundColor]="fpressure.gaugeBackColor"
              [foregroundColor]="fpressure.gaugeColor">
      </ngx-gauge>
      <ngx-gauge [value]="gaugeValueCoolant" 
              [type]="coolant.gaugeType"
              [label]="coolant.gaugeLabel"  
              [append]="coolant.gaugeAppendText"
              [animate]="coolant.gaugeAnimate"
              [cap]="coolant.gaugeCap"
              [thick]="coolant.gaugeThickness"
              [prepend]="coolant.gaugePrepend"
              [duration]="coolant.gaugeDuration"
              [size]="coolant.gaugeSize"
              [max] = "coolant.gaugeMax"
              [backgroundColor]="coolant.gaugeBackColor"
              [foregroundColor]="coolant.gaugeColor">
      </ngx-gauge>
    </div>
    <div class="textClass">
      <ngx-gauge [value]="gaugeValueSpeedInMPH" 
              [type]="spdMph.gaugeType"
              [label]="spdMph.gaugeLabel"  
              [append]="spdMph.gaugeAppendText"
              [animate]="spdMph.gaugeAnimate"
              [cap]="spdMph.gaugeCap"
              [thick]="spdMph.gaugeThickness"
              [prepend]="spdMph.gaugePrepend"
              [duration]="spdMph.gaugeDuration"
              [size]="spdMph.gaugeSize"
              [max] = "spdMph.gaugeMax"
              [backgroundColor]="spdMph.gaugeBackColor"
              [foregroundColor]="spdMph.gaugeColor">
      </ngx-gauge>
      <ngx-gauge [value]="gaugeValueRPM" 
              [type]="rpm.gaugeType"
              [label]="rpm.gaugeLabel"  
              [append]="rpm.gaugeAppendText"
              [animate]="rpm.gaugeAnimate"
              [cap]="rpm.gaugeCap"
              [thick]="rpm.gaugeThickness"
              [prepend]="rpm.gaugePrepend"
              [duration]="rpm.gaugeDuration"
              [size]="rpm.gaugeSize"
              [max] = "rpm.gaugeMax"
              [backgroundColor]="rpm.gaugeBackColor"
              [foregroundColor]="rpm.gaugeColor">
      </ngx-gauge>
      <ngx-gauge [value]="gaugeValueDegreeRaceCar" 
              [type]="raceCar.gaugeType"
              [label]="raceCar.gaugeLabel"  
              [append]="raceCar.gaugeAppendText"
              [animate]="raceCar.gaugeAnimate"
              [cap]="raceCar.gaugeCap"
              [thick]="raceCar.gaugeThickness"
              [prepend]="raceCar.gaugePrepend"
              [duration]="raceCar.gaugeDuration"
              [size]="raceCar.gaugeSize"
              [max] = "raceCar.gaugeMax"
              [backgroundColor]="raceCar.gaugeBackColor"
              [foregroundColor]="raceCar.gaugeColor">
      </ngx-gauge>
      <ngx-gauge [value]="gaugeValueAirIntake" 
              [type]="airIntake.gaugeType"
              [label]="airIntake.gaugeLabel"  
              [append]="airIntake.gaugeAppendText"
              [animate]="airIntake.gaugeAnimate"
              [cap]="airIntake.gaugeCap"
              [thick]="airIntake.gaugeThickness"
              [prepend]="airIntake.gaugePrepend"
              [duration]="airIntake.gaugeDuration"
              [size]="airIntake.gaugeSize"
              [max] = "airIntake.gaugeMax"
              [backgroundColor]="airIntake.gaugeBackColor"
              [foregroundColor]="airIntake.gaugeColor">
      </ngx-gauge>
    </div>
  </div>
  <div>
  <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
    <h2 class="textClass">CECS 525 Final Project</h2>
    <h2 class="textClass">Team 5</h2>
    <p>&nbsp;</p>
    <h2 class="textClass">Citations</h2>
    <ul>
      <li>
        <h2><a class="alink" target="_blank" rel="noopener" href="https://github.com/ashish-chopra/ngx-gauge#configure-threshold-color-ranges">Gauge Documentation</a></h2>
      </li>
      <li>
        <h2><a class="alink" target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
      </li>
      <li>
        <h2><a class="alink" target="_blank" rel="noopener" href="https://angular.io/docs">Angular Documentation</a></h2>
      </li>
      <li>
        <h2><a class="alink" target="_blank" rel="noopener" href="https://firebase.google.com/docs/auth/web/start?authuser=1">Firebase Documentation</a></h2>
      </li>
      <li>
        <h2><a class="alink" target="_blank" rel="noopener" href="https://www.raspberrypi.org/documentation/remote-access/web-server/apache.md">Apache Documentation</a></h2>
      </li>
    </ul>
    <h2 class="textClass">Github</h2>
    <ul>
      <li>
        <h2><a class="alink" target="_blank" rel="noopener" href="https://github.com/michaeltelahun/OBD2Database">WebOBD2 database</a></h2>
      </li>
      <li>
        <h2><a class="alink" target="_blank" rel="noopener" href="https://github.com/m0tela01/WebODB">WebOBD2 website</a></h2>
      </li>
    </ul>
  </div>
  <script>
    var config = {
      apiKey: "AIzaSyCJV79IhlSdhtAOBLJz9H5dAGxfzjSau4Y",
      authDomain: "webobdbase.firebaseapp.com",
      databaseURL: "https://webobdbase.firebaseio.com",
      projectId: "webobdbase",
      storageBucket: "webobdbase.appspot.com",
      messagingSenderId: "184771792235"
    };
    firebase.initializeApp(config);
  </script>
</div>
