
a:link{
  color: red;
}
a:visited{
  color:lightcoral;
}
a:hover{
  color: rgb(64, 214, 129)
}

.chart1{
  color-adjust: rgba(255,255,255,  0.7);
}
.chart1 .canvasjs-chart-canvas{
  color: rgb(235, 84, 84);
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.chart3{
  position: relative;
  width: 450px;
  left: 1200px;
  bottom: 500px
}